/* * {
	margin: 0;
	padding: 0;
	overflow: hidden;
} */
body {
	height: 100vh;
	width: 100%;
	/* background-image: url('https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/76458.png'); */
}
#root {
	width: 100%;
	height: 100%;
}
.main {
	height: 90%;
	width: 93%;
	margin: auto;
	margin-top: 50px;
	background-color: white;
}

#playerUI {
	/* height: 70% !important; */
}

.rs-navbar {
	display: none !important;
}

#controls {
	display: none !important;
}

.rootDiv-0-2-1 {
	height: 80% !important;
}

.left {
	width: 40%;
	height: 100%;
	float: left;
}
.right {
	width: 60%;
	height: 100%;
	float: right;
	/* padding: 30px; */
}
